:root {
  --ff-primary-default: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff-primary-paragraph: charter, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --fz: 32, 22, 20, 16, 14, 13, 11;

  --bg-color-area: #fafafa;
  --bg-color-content-green: #198917;
  --bg-color-content-black: #191919;

  --color-black: #292929;
  --color-gray: #757575;
  --color-green: #1a8917;

  --color-hover-black: #191919;
  --color-hover-green: #0f730c;

  --color-border-gray: #d4d4d4;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary-default);
  color: var(--color-black);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 20px;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
a {
  display: inline-block;
  color: var(--color-black);
  text-decoration: none;
}
a:hover {
  color: var(--color-hover-black);
}
hr {
  color: var(--color-gray);
}
.flex {
  display: flex;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
}
.gray {
  color: var(--color-gray);
}

/*  -side bar ----------------------------------------------------- */
.side-menu {
  width: 80px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  flex-direction: column;
}
.side-menu nav ul {
  height: 330px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.side-menu nav ul li {
  width: 24px;
}
/*  -main contents------------------------------------------------- */
main {
  width: 1030px;
}
main section {
  border-right: solid 1px var(--color-border-gray);
  border-bottom: solid 1px var(--color-border-gray);
  border-left: solid 1px var(--color-border-gray);
}
.inner {
  width: 690px;
  margin: 0 auto;
}

.publisher-info {
  padding: 10px 0;
}
.publisher-info .inner {
  align-items: center;
}

.publisher-info .img-holder {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.publisher-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.publisher-info p {
  font-size: 14px;
  font-weight: 400;
}
.publisher-info p:nth-of-type(2) {
  margin-right: 10px;
  margin-left: 10px;
}
.publisher-info span {
  color: var(--color-gray);
}
.publisher-info a {
  color: var(--color-green);
}
.publisher-info a:hover {
  color: var(--color-hover-green);
}

.author-info {
  padding-top: 55px;
  padding-bottom: 55px;
}
.author-info .img-holder {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.author-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.author-info p {
  font-size: 16px;
  font-weight: 400;
}
.author-info p:nth-of-type(2) {
  margin-top: 1em;
  color: var(--color-gray);
}

.content .accent {
  color: var(--color-gray);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}

.content .title {
  line-height: 40px;
  margin-bottom: 45px;
  font-weight: 600;
}
.content p {
  margin-bottom: 55px;
  line-height: 1.6em;
}
.content img + p {
  text-align: center;
  margin-top: 15px;
  color: var(--color-gray);
  font-size: 14px;
}
.content .sub-title {
  font-weight: 600;
  margin-bottom: 0.75em;
}
.content a {
  text-decoration: underline;
}
.content span {
  font-weight: 500;
}

/*  -side profile-------------------------------------------------- */
.profile {
  width: 395px;
}
