:root {
  --ff-primary-default: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff-primary-paragraph: charter, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --fz: 32, 22, 20, 16, 14, 13, 11;

  --bg-color-area: #fafafa;
  --bg-color-content-gray: #f2f2f2;
  --bg-color-content-green: #198917;
  --bg-color-content-black: #191919;

  --color-black: #292929;
  --color-gray: #757575;
  --color-green: #1a8917;

  --color-hover-black: #191919;
  --color-hover-green: #0f730c;

  --color-border-gray: #d4d4d4;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary-default);
  color: var(--color-black);
  background-color: #fff;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 20px;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
a {
  display: inline-block;
  color: var(--color-black);
  text-decoration: none;
}
a:hover {
  color: var(--color-hover-black);
}
hr {
  color: var(--color-gray);
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
}
.gray {
  color: var(--color-gray);
}
.green {
  color: var(--color-green);
}
.img-radius {
  border-radius: 50%;
}

.btn-follow {
  width: 75px;
  height: 35px;
  background-color: var(--bg-color-content-green);
  text-align: center;
  border-radius: 17.5px;
}
.btn-follow a {
  width: 100%;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
}
.btn-follow:hover {
  background-color: var(--color-hover-green);
}

/*  -side bar ----------------------------------------------------- */
.side-menu {
  width: 80px;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 5px;
}
.side-menu nav ul {
  height: 330px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.side-menu nav ul li {
  width: 22px;
  height: 22px;
}
.side-menu nav ul li img {
  width: 100%;
  height: 100%;
}
/*  -main contents------------------------------------------------- */
main {
  width: 1030px;
}
main section {
  border-right: solid 1px var(--color-border-gray);
  border-left: solid 1px var(--color-border-gray);
}
.inner {
  width: 690px;
  margin: 0 auto;
}

.publisher-info {
  padding: 10px 0;
  border-bottom: solid 1px var(--color-border-gray);
}
.publisher-info .inner {
  align-items: center;
}

.publisher-info .img-holder {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.publisher-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.publisher-info p {
  font-size: 14px;
  font-weight: 400;
}
.publisher-info p:nth-of-type(2) {
  margin-right: 10px;
  margin-left: 10px;
}
.publisher-info span {
  color: var(--color-gray);
}
.publisher-info a {
  color: var(--color-green);
}
.publisher-info a:hover {
  color: var(--color-hover-green);
}

.author-info {
  padding-top: 55px;
  padding-bottom: 55px;
}
.author-info .img-holder {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.author-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.author-info p {
  font-size: 16px;
  font-weight: 400;
}
.author-info p:nth-of-type(2) {
  margin-top: 1em;
  color: var(--color-gray);
}

.content {
  padding-bottom: 85px;
}
.content .accent {
  color: var(--color-gray);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}

.content .title {
  line-height: 40px;
  margin-bottom: 45px;
  font-weight: 600;
}
.content p {
  margin-bottom: 55px;
  line-height: 1.6em;
}
.content img + p {
  text-align: center;
  margin-top: 15px;
  color: var(--color-gray);
  font-size: 14px;
}
.content .sub-title {
  font-weight: 600;
  margin-bottom: 0.75em;
}
.content a {
  text-decoration: underline;
}
.content span {
  font-weight: 500;
}

.content-footer {
  position: sticky;
  z-index: 99;
  bottom: 0;
  background-color: #fff;
  padding: 10px 0;
}
.content-footer .inner.flex {
  justify-content: space-between;
}
.content-footer .review {
  align-items: center;
  margin-right: 30px;
}
.content-footer .review div + div {
  margin-left: 12.5px;
}
.content-footer .review .img-holder {
  width: 22.5px;
  height: 22.5px;
}
.content-footer .social-media .img-holder {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.content-footer img {
  height: 100%;
}

.recommend {
  background-color: var(--bg-color-area);
  padding: 45px;
}
.recommend h2 {
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 15px;
}
.recommend p {
  font-size: 14px;
  line-height: 1.5em;
}
.recommend article {
  align-items: center;
  margin-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--color-border-gray);
}
.recommend .inner > .flex {
  justify-content: space-between;
}
.recommend .text-area {
  width: 515px;
}
.recommend .category {
  padding: 5px;
  background-color: var(--bg-color-content-gray);
  border-radius: 16px;
  margin-right: 10px;
}
.recommend .text-area .flex {
  align-items: center;
}
.recommend .text-area > .flex:first-child {
  margin-bottom: 15px;
}
.recommend article .text-area > p {
  margin-bottom: 40px;
}
.recommend .text-area .img-holder {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.recommend .text-area .img-holder:first-of-type img {
  border-radius: 50%;
}
.recommend article .img-holder {
  width: 110px;
  height: 115px;
}
.recommend .article-footer + .img-holder {
  height: 20px;
  margin: 0;
}
.recommend img {
  height: 100%;
}
.recommend .accent {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.recommend .article-footer p {
  font-size: 13px;
}
.recommend .read-more {
  width: 265px;
  margin: 40px auto 100px auto;
}

.more-article {
  background-color: var(--bg-color-area);
}
.more-article h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 26px;
}
.more-article .wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}
.more-article .flex-item {
  width: 330px;
  margin-bottom: 25px;
}
.more-article p {
  width: 100%;
  font-size: 13px;
  line-height: 1.4em;
}
.more-article .img-holder {
  width: 65px;
  height: 55px;
  margin-right: 10px;
}
.more-article .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  -side profile-------------------------------------------------- */
.profile {
  width: 320px;
  margin: 40px 30px;
}
.profile p {
  font-size: 14px;
  line-height: 1.5em;
}
.profile a {
  font-size: 14px;
}
.profile p a.gray {
  text-decoration: underline;
}
.profile div:first-child {
  align-items: center;
}
.profile .btn {
  width: 265px;
  height: 40px;
  text-align: center;
}
.profile .btn a {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  line-height: 40px;
}
.profile .search-box {
  position: relative;
  width: 100%;
}
.profile .search-box::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../image/icon_share_serch.svg) no-repeat center center / auto
    100%;
  display: inline-block;
  position: absolute;
  top: 51px;
  left: 12px;
}
.profile input {
  width: 235px;
  padding: 10px 40px;
  margin: 40px 0;
  border: 1px solid var(--color-border-gray);
  border-radius: 20px;
}
.profile input:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: 1px solid var(--color-border-gray);
}
.profile .img-holder {
  width: 88px;
  height: 88px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.profile .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.profile .accent {
  font-size: 16px;
  margin-bottom: 20px;
}
.profile .btn-area {
  margin-top: 25px;
  margin-bottom: 25px;
}
.profile .btn-area .img-holder {
  width: 35px;
  height: 35px;
  background-color: var(--bg-color-content-green);
  border-radius: 17.5px;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}
.profile .btn-area .img-holder img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.profile .related-article {
  margin-bottom: 90px;
}
.profile .related-article p,
.profile .related-article span {
  font-size: 13px;
}
.profile .related-article .text {
  width: 265px;
}
.profile .related-article .img-holder {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.profile .related-article .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-footer a {
  color: var(--color-gray);
  font-size: 11px;
}
.profile-footer li {
  margin-right: 5px;
}
.profile-footer .flex {
  flex-wrap: wrap;
}
