:root {
  --ff-primary-default: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff-primary-paragraph: charter, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --fz: 32, 22, 20, 16, 14, 13, 11;

  --bg-color-area: #fafafa;
  --bg-color-content-green: #198917;
  --bg-color-content-black: #191919;

  --color-black: #292929;
  --color-gray: #757575;
  --color-green: #1a8917;

  --color-hover-black: #191919;
  --color-hover-green: #0f730c;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary-default);
  color: var(--color-black);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 20px;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  display: inline-block;
  color: var(--color-black);
  text-decoration: none;
}
a:hover {
  color: var(--color-hover-black);
}
hr {
  color: var(--color-gray);
}
.flex {
  display: flex;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
}

/*  -side bar ----------------------------------------------------- */
.side-menu {
  width: 80px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  flex-direction: column;
}
.side-menu nav ul {
  height: 330px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.side-menu nav ul li {
  width: 24px;
}
/*  -main contents------------------------------------------------- */
main {
  max-width: 1030px;
}
/*  -side profile-------------------------------------------------- */
.profile {
  max-width: 395px;
}
