* {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  margin: 0;
}

body {
  font-family: "Hlvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: charter, Georgia, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

:root {
  --headerAndHeroBackground: #c4e2ff;
  --border: 1px solid #000;
  --headerAndHeroBorderBottom: 1px solid #292929;
  --borderBottom: 1px solid #e6e6e6;
  --baseBlack: #000;
  --baseWhite: #fff;
  --baseGrey: #757575;
  --fontWeight500: 500;
  --fontWeight700: 700;
}

.button {
  border-radius: 25px;
  border: var(--border);
  padding: 0.7rem 1rem;
}

.container {
  max-width: 1225px;
  width: 84%;
  margin: 0 auto;
}

header {
  background-color: var(--headerAndHeroBackground);
  border-bottom: var(--headerAndHeroBorderBottom);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 420px;
}

nav > a {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #2c2727;
}

.nav-button {
  background-color: var(--baseBlack);
  color: var(--baseWhite);
}

.bn.bo {
  width: 165px;
  height: auto;
}

.hero {
  padding-top: 74px;
  background-color: var(--headerAndHeroBackground);
  border-bottom: var(--headerAndHeroBorderBottom);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-title {
  min-width: 551px;
  padding: 2rem 0;
}

.hero-title h1 {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", serif;
  font-size: 69px;
  line-height: 74px;
  max-width: 608px;
  letter-spacing: -1px;
}

.hero-title p {
  max-width: 438px;
  padding-bottom: 1.5rem;
  font-size: 18px;
  line-height: 26px;
}

.hero-button {
  display: inline-block;
  color: var(--baseBlack);
  background-color: var(--baseWhite);
}

.hero-image img {
  width: 379px;
}

.trending {
  border-bottom: var(--borderBottom);
}

.trending-container {
  padding: 2rem 0;
}

.trending-container .trending-title {
  display: flex;
  align-items: center;
  font-weight: var(--fontWeight700);
  font-size: 12px;
  letter-spacing: 1px;
}

.trending-container .trending-title p {
  padding-left: 0.5rem;
}

.trending-listItem {
  display: flex;
  justify-content: flex-start;
  min-width: 400px;
  padding-top: 1.2rem;
}

.trending-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trending-list .number {
  font-size: 30px;
  font-weight: var(--fontWeight700);
  color: #e6e6e6;
}

.article-contents {
  max-width: 364px;
  padding: 0 1rem 0 1rem;
}

.article-contents .author-and-image {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
}

.article-contents img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.article-contents .article-author {
  font-weight: var(--fontWeight500);
  font-size: 13px;
  line-height: 13px;
  padding-left: 0.5rem;
}

.articles-sideMenu-container {
  display: flex;
  justify-content: space-between;
}

.articles {
  /* flex-grow: 2; */
  /* max-width: 580px; */
}

.article-contents .article-title {
  font-weight: var(--fontWeight700);
  font-size: 16px;
  line-height: 20px;
  padding: 0.6rem 0;
}

.article-contents .date-and-tags {
  color: var(--baseGrey);
  font-size: 13px;
}

.trending-listItem.article-list {
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  /* margin: 0; */
}

.article-title.article-list {
  font-size: 22px;
  line-height: 28px;
}

.article-contents.article-list-contents {
  padding: 0;
  max-width: 440px;
}

.article-description {
  color: var(--baseGrey);
  padding: 0.6rem 0;
  line-height: 20px;
}

.article-list.tag {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 0.3rem 0.6rem;
  margin-right: 0.4rem;
  border-radius: 25px;
}

.eh.el.lh {
  display: inline-block;
  padding-left: 0.2rem;
}

.article-list-image {
  padding-left: 2rem;
}

.article-list-image img {
  width: 200px;
  height: 135px;
}

.sideMenu {
  max-width: 420px;
}

.date-and-tags.article-list {
  display: flex;
  justify-content: space-between;
}

.bookmark-icon {
  width: 20px;
  height: 20px;
}

.sideMenu .sideMenu-title {
  font-weight: var(--fontWeight700);
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.8px;
  padding-bottom: 1.2rem;
}

.keywords {
  padding: 2rem 0;
  border-bottom: var(--borderBottom);
}

.keywords-container {
  max-width: 340px;
}

.keywords .keyword {
  display: inline-block;
  font-size: 13px;
  padding: 0.5rem 1rem;
  /* margin-right: 1rem;
  margin-bottom: 1rem; */
  margin: 0 0.5rem 0.5rem 0;
  border: var(--borderBottom);
  border-radius: 4px;
  color: var(--baseGrey);
}

.menus {
  padding: 2rem 0;
}

.menus .oneMenu {
  display: inline-block;
  font-size: 14px;
  color: var(--baseGrey);
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
