/* BODY */
body {
  font-family: sohne, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  height: 1634px;
}

hr {
  color: rgba(230, 230, 230, 1);
  opacity: 0.2;
  margin: 0;
  margin-bottom: 25px;
}

/* HEADER */
.header { 
  width: 80px;
  /* text-align: center; */
  margin: 0 auto;
  height: 1634px;
  border-style: none;
  border-right-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  position: fixed;
}

.header-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 762px;

}

.second-child ul {
  padding-left: 26px;
}

.second-child li {
  padding-bottom: 35px;
}

.header-child {
  text-align: center;
}

.first-child {
  margin-top: 25px;
}

.first-child .thrid-child {
  height: 10%;
}

.second-child {
  height: 80%;
  opacity: 0.5;
  margin-top: 160px;
}

.logo {
  width: 76px;
  height: 55px;
  opacity: 0.8;
}

.header li {
  width: 24px;
  height: 24px;
}

.header li .bookmark {
  width: 20px;
  height: 26px;
}

.header .user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

li hr {
  width: 25px;
}

/* MAIN */
main {
  /* background-color: aquamarine; */
  min-width: 960px;
}

.main-name {
  font-size: 42px;
  font-weight: 700;
  color: #191919;
}

.main-wrapper {
  width: 696px;
  margin: 58px auto;
  padding-left: 220px;
  padding-right: 100px;
}

.tab {
  margin-top: 45px;
  margin-bottom: 58px;
}

.tab span {
  font-size: 14px;
  color: #797979;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.tab .home {
  color: #292929;
}

.post-time {
  margin-bottom: 25px;
  color: #757575;
}

.post-title {
  /* margin-bottom: 40px; */
  font-size: 32px;
  display: inline-block;
  color: #292929;
  font-weight: 700;
}

.content {
  font-size: 20px;
  margin-top: 40px;
  color: #292929;
}

.icons {
  height: 30px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between; 
}

.left-icons img {
  width: 24px;
  height: 24px;
  margin-right: 30px;
  opacity: 0.3;
}

.right-icons img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.right-icons .bookmark {
  width: 15px;
  height: 23px;
}

.post-photo {
  width: 640px;
  height: 793px;
  display: block;
  margin: 50px auto 35px auto;
}

/* PROFILE */
.profile-wrapper {
  /* padding: 35px 28px 25px 28px; */
  min-width: 393px;
  height: 1634px;
  border-style: none;
  border-left-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  position: fixed;
  right: 0;
}

.profile-inner {
  width: 325px;
  height: 996px;
  margin: 0 auto;
  padding-top: 38px;
}

.btn-wrapper {
  margin-bottom: 40px;
}

.upgrade-btn {
  display: inline-block;
  background-color: #191919;
  color: #fff;
  border: 1px solid #191919;
  padding: 10px 16px 10px;
  width: 295px;
  height: 20px;
  font-size: 14px;
  border-radius: 99em;
  text-align: center;
 
}

.search-wrapper {
  /* display: flex; */
  margin-bottom: 40px;
  width: 327px;
  height: 35px;
  position: relative;
}

.search {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 12px;
}

.search-icon {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

input {
  width: 287px;
  height: 35px;
  font-weight: lighter;
  border: 1px solid #e6e6e6;
  border-radius: 99em;
  z-index: 1;
  display: block;
  position: absolute;
  padding-left: 40px;
}

input:focus-visible {
  outline: none;
}

.profile-section .user-icon {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.side-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 17px;
}

.title {
  margin-bottom: 28px;
  font-size: 14px;
  color: #757575;
}

.edit-profile {
  font-size: 13px;
  color: #1A8917;
}

.edit-profile:hover {
  color: rgba(25, 25, 25, 1);
}

.reading-list {
  margin-top: 50px;
}

.list-title {
  font-size: 16px;
}

.reading-list {
  font-size: 16px;
  /* display: block; */
}

.stories {
  font-size: 13px;
  color: #ababab;
  display: block;
}

.list-detail-wrapper {
  display: flex;
  box-sizing: inherit;
  margin-top: 15px;
  margin-bottom: 20px;
}

.list-icons {
  position: relative;
  width: 110px;
}

.list-icon {
  width: 48px;
  height: 48px;
  display: block;
}

.icon1 {
  position: absolute;
  z-index: 3;
}

.icon2 {
  position: absolute;
  z-index: 2;
  left: 24px;
}

.icon3 {
  position: absolute;
  z-index: 1;
  left: 40px;
}

.list-description {
  line-height: 1.5;
}

.view-all {
  font-size: 13px;
  color: #757575;
  display: inline-block;
  padding-top: 20px;
}

.view-all:hover {
  color: rgba(25, 25, 25, 1);
}

.footer-menu {
  margin-top: 170px;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  font-size: 11px;
  display: inline-block;
  margin-right: 6px;
}

.footer-menu a {
  color: #757575;
}

